text {
    text-anchor: middle;
}

.bar {
    fill : steelblue;
}

.legend {
    font-size: 12px;
}

.legend-rectangle {
    stroke-width: 2;
}

.polylines {
    stroke : black;
    stroke-width: 1px;
    fill: none;
    opacity: .7;
}

.tooltip {
    opacity: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    width: auto;
    height: auto;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px black;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: left;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.line {
    fill: none;
    stroke-width: 2;
}

.link {
    stroke: #aaa;
}

.arc-node {
    opacity: 1;
}